global-exclude *.py[cod]
include CHANGELOG.md
include LICENSE
include README.md
recursive-include account *.html
recursive-include account *.txt
recursive-include account/locale *
recursive-include account/migrations *.py
recursive-include docs *.rst
exclude tox.ini
recursive-exclude django_user_accounts.egg-info *
exclude docs/conf.py
exclude docs/Makefile
